@using Microsoft.AspNetCore.Components.Forms
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Clave :</label>
        <div>
            <InputText class="form-control" @bind-Value="@Personal.Clave" @oninput="EventCallback.Factory.CreateBinder<string>(this, __value => Personal.Clave = __value?.ToUpper(), Personal.Clave?.ToUpper())" />
            <ValidationMessage For="@(() => Personal.Clave)" />
        </div>
        <label>Nombre :</label>
        <div>
            <InputText class="form-control" @bind-Value="@Personal.Nombre" @oninput="EventCallback.Factory.CreateBinder<string>(this, __value => Personal.Nombre = __value?.ToUpper(), Personal.Nombre?.ToUpper())" />
            <ValidationMessage For="@(() => Personal.Nombre)" />
        </div>
        <label>Puesto :</label>
        <div>
            <select @bind="Personal.PuestoId">
                <option value=0>Seleccione Puesto...</option>
                @if (Puestos != null)
                {
                    @foreach (var pue in Puestos)
                    {
                        <option value="@pue.Id">@pue.Nombre</option>
                    }
                }
            </select>
        </div>
    </div>
    <button class="btn btn-success" type="submit">Guardar Cambios</button>
    <button class="btn btn-primary" @onclick="ReturnAction">Regresar</button>
</EditForm>

@code {
    [CascadingParameter]
    public string? Ruta { get; set; }

    public List<Puesto>? Puestos { get; set; }

    private EditContext editContext = null!;

    [EditorRequired]
    [Parameter]
    public Personal Personal { get; set; } = null!;

    [EditorRequired]
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

    protected override async Task OnInitializedAsync()
    {
        editContext = new(Personal);
        await LoadAsync();
    }

    public bool FormPostedSuccessfully { get; set; } = false;

    private async Task LoadAsync(int page = 1)
    {
        string url = $"api/puestos/sinfiltro";

        var responseHppt = await repository.Get<List<Puesto>>(url);
        Puestos = responseHppt.Response!;
    }
}