@using Microsoft.AspNetCore.Components.Routing

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Desarrollo Integral</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="flex-column">
        @if (Tipo != 1)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" @onclick="()=> expandMenuCatalogos = !expandMenuCatalogos">
                    <span class="oi oi-cart" aria-hidden="true"></span> Catálogos
                </NavLink>
                @if (expandMenuCatalogos)
                {
                    <ul class="nav flex-column">
                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/personales">
                                    <span class="oi oi-basket" aria-hidden="true"></span> Personal
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/unidades">
                                    <span class="oi oi-box" aria-hidden="true"></span> Unidades
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/empresa">
                                    <span class="oi oi-box" aria-hidden="true"></span> Empresas
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/lineas">
                                    <span class="oi oi-box" aria-hidden="true"></span> Líneas
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="usuarios">
                                    <span class="oi oi-box" aria-hidden="true"></span> Usuarios
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="perfiles">
                                    <span class="oi oi-box" aria-hidden="true"></span> Perfiles
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="puestos">
                                    <span class="oi oi-box" aria-hidden="true"></span> puestos
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="zonas">
                                    <span class="oi oi-box" aria-hidden="true"></span> Zonas
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="bancos">
                                    <span class="oi oi-box" aria-hidden="true"></span> Bancos
                                </NavLink>
                            </CascadingValue>
                        </li>
                    </ul>
                }
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" @onclick="()=> expandMenuRol = !expandMenuRol">
                    <span class="oi oi-cart" aria-hidden="true"></span> Rol
                </NavLink>
                @if (expandMenuRol)
                {
                    <ul class="nav flex-column">
                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/nodos">
                                    <span class="oi oi-basket" aria-hidden="true"></span> Nodos
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/operaunidad">
                                    <span class="oi oi-box" aria-hidden="true"></span> OperaUnidad
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/lineaunidad">
                                    <span class="oi oi-box" aria-hidden="true"></span> LineaUnidad
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/rutas">
                                    <span class="oi oi-box" aria-hidden="true"></span> Rutas
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="temporadas">
                                    <span class="oi oi-box" aria-hidden="true"></span> Temporadas
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="itinerarios">
                                    <span class="oi oi-box" aria-hidden="true"></span> Itinerarios
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="generarol">
                                    <span class="oi oi-box" aria-hidden="true"></span> GeneraRol
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="rol">
                                    <span class="oi oi-box" aria-hidden="true"></span> Rol
                                </NavLink>
                            </CascadingValue>
                        </li>

                    </ul>
                }
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" @onclick="()=> expandMenuCortes = !expandMenuCortes">
                    <span class="oi oi-cart" aria-hidden="true"></span> GestionCortes
                </NavLink>
                @if (expandMenuCortes)
                {
                    <ul class="nav flex-column">
                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/cancelarboletos">
                                    <span class="oi oi-basket" aria-hidden="true"></span> CancelarBoleto
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/terminarcorte">
                                    <span class="oi oi-box" aria-hidden="true"></span> TerminarCorte
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/imprimircorte">
                                    <span class="oi oi-box" aria-hidden="true"></span> ImprimirCorte
                                </NavLink>
                            </CascadingValue>
                        </li>
                    </ul>
                }
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" @onclick="()=> expandMenuRecauda = !expandMenuRecauda">
                    <span class="oi oi-cart" aria-hidden="true"></span> Recaudación
                </NavLink>
                @if (expandMenuRecauda)
                {
                    <ul class="nav flex-column">
                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/hacercuenta">
                                    <span class="oi oi-basket" aria-hidden="true"></span> HacerCuenta
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/cancelaboleto">
                                    <span class="oi oi-basket" aria-hidden="true"></span> CancelarBoletos
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/liquidacion">
                                    <span class="oi oi-basket" aria-hidden="true"></span> Liquidación
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/cancelarrecibo">
                                    <span class="oi oi-basket" aria-hidden="true"></span> CancelarRecibo
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/corterecaudado">
                                    <span class="oi oi-basket" aria-hidden="true"></span> CorteRecaudado
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/terminarrecauda">
                                    <span class="oi oi-box" aria-hidden="true"></span> TerminarRecauda
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/imprimirrecauda">
                                    <span class="oi oi-box" aria-hidden="true"></span> ImprimirRecauda
                                </NavLink>
                            </CascadingValue>
                        </li>
                    </ul>
                }
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" @onclick="()=> expandMenuDepositos = !expandMenuDepositos">
                    <span class="oi oi-cart" aria-hidden="true"></span> Depositos
                </NavLink>
                @if (expandMenuDepositos)
                {
                    <ul class="nav flex-column">
                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/cortemanual">
                                    <span class="oi oi-basket" aria-hidden="true"></span> CorteManual
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/fichaboucher">
                                    <span class="oi oi-basket" aria-hidden="true"></span> FichaBoucher
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/reportedepositos">
                                    <span class="oi oi-basket" aria-hidden="true"></span> ReporteDepositos
                                </NavLink>
                            </CascadingValue>
                        </li>
                    </ul>
                }
            </li>

        }
        @if (Tipo == 1)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" @onclick="()=> expandMenuBoletos = !expandMenuBoletos">
                    <span class="oi oi-cart" aria-hidden="true"></span> Ventas
                </NavLink>
                @if (expandMenuBoletos)
                {
                    <ul class="nav flex-column">
                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/boletos">
                                    <span class="oi oi-basket" aria-hidden="true"></span> Boletos
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/cortecajaventa">
                                    <span class="oi oi-box" aria-hidden="true"></span> GeneraCorte
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/canjerecibo">
                                    <span class="oi oi-box" aria-hidden="true"></span> CanjeRecibo
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/auditoria">
                                    <span class="oi oi-box" aria-hidden="true"></span> Auditoría
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="liberarasiento">
                                    <span class="oi oi-box" aria-hidden="true"></span> LiberarAsiento
                                </NavLink>
                            </CascadingValue>
                        </li>
                    </ul>
                }
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" @onclick="()=> expandMenuCatalogos = !expandMenuCatalogos">
                    <span class="oi oi-cart" aria-hidden="true"></span> Catálogos
                </NavLink>
                @if (expandMenuCatalogos)
                {
                    <ul class="nav flex-column">
                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/personal">
                                    <span class="oi oi-basket" aria-hidden="true"></span> Personal
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/unidades">
                                    <span class="oi oi-box" aria-hidden="true"></span> Unidades
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/empresas">
                                    <span class="oi oi-box" aria-hidden="true"></span> Empresas
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="/lineas">
                                    <span class="oi oi-box" aria-hidden="true"></span> Líneas
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="usuarios">
                                    <span class="oi oi-box" aria-hidden="true"></span> Usuarios
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="perfiles">
                                    <span class="oi oi-box" aria-hidden="true"></span> Perfiles
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="zonas">
                                    <span class="oi oi-box" aria-hidden="true"></span> Zonas
                                </NavLink>
                            </CascadingValue>
                        </li>

                        <li class="nav-item px-3">
                            <CascadingValue Value="@Ruta">
                                <NavLink class="nav-link" href="bancos">
                                    <span class="oi oi-box" aria-hidden="true"></span> Bancos
                                </NavLink>
                            </CascadingValue>
                        </li>
                    </ul>
                }
            </li>
        }
    </ul>
</div>

@code {
    [CascadingParameter]
    public string Ruta { get; set; } = null!;

    [CascadingParameter]
    protected int Tipo { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        string datos = Ruta;
        int tip = Tipo;
    }

    private bool collapseNavMenu = true;
    private bool expandMenuCatalogos;
    private bool expandMenuRol;
    private bool expandMenuBoletos;
    private bool expandMenuCortes;
    private bool expandMenuRecauda;
    private bool expandMenuDepositos;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null!;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}