<Router AppAssembly="@typeof(Main).Assembly" AdditionalAssemblies="new[] {typeof(Shared.MainLayout).Assembly}">
	<Found Context="routeData">
		<CascadingValue Value="@Ruta">
			<CascadingValue Value="@Tipo">
				<RouteView RouteData="@routeData" DefaultLayout="@typeof(Shared.MainLayout)" />
				<FocusOnNavigate RouteData="@routeData" Selector="h1" />
			</CascadingValue>
		</CascadingValue>
	</Found>
	<NotFound>
		<LayoutView Layout="@typeof(Shared.MainLayout)">
			<p role="alert">Sorry, there's nothing at this address.</p>
		</LayoutView>
	</NotFound>
</Router>

@code
{
	public static string plat = DeviceInfo.Platform.ToString();
	public static string Ruta = GeneraRuta(plat);
	public static int Tipo = 1;

	public static string GeneraRuta(string plat)
	{
		string path = string.Empty;
		if(plat == "WinUI")
		{
			path = Path.Combine(System.Environment.GetFolderPath
			(System.Environment.SpecialFolder.MyDocuments));

			string dir = Path.Combine(
				Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData),
				@"WeatherForecasts.db");

			path = dir;
		}
		if (plat == "Android")
		{
			string dir = Path.Combine(System.Environment.GetFolderPath
			(System.Environment.SpecialFolder.MyDocuments));

			dir = Path.Combine(
				Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData),
				@"WeatherForecasts.db");

			path = dir;
		}
		return path;
	}
}